/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

ul{
    list-style: none;
}

#navbar{
    height: 69px;
    border-bottom: 1px solid seashell;
    display:inline-flex;
    width: 100%;
}

#navbar .logo{
    height: 50px;
    margin: 10px;
    justify-content: flex-start;
}

.page-links li {
    display: inline-flex;
    justify-content: flex-end;
    color: seashell;
}



#mission {
    background-image: url(/images/img-mission-background.webp);
    height: 700px;
    
}

#mission h2, 
#mission h4{
    background-color: black;
    width: 100%;
    display: inline-flex;
    justify-content: center;

}

